/* Content
--------------------------------------------------------------*/
.l-content {
	position: relative;

	&:nth-of-type(n+2) {
		margin-top: 50px;

		@include pc-screen {
			margin-top: 175px;
		}
	}
}

.l-content__inner--01 {
	padding: 0 9.6vw;

	@include pc-screen {
		padding: 0;
		max-width: 1180px;
		margin: 0 auto;
	}
}

.l-content__inner--02 {
	padding: 0 4.8vw;
	margin: 30px auto 20px;

	@include pc-screen {
		padding: 0;
		max-width: 1180px;
		margin: 140px auto;
	}
}

.l-content__inner--03 {
	padding: 0 10.4vw;
	margin: 32px auto 50px;

	@include pc-screen {
		padding: 0;
		max-width: 1280px;
		margin: 68px auto 98px;
	}
}

.l-content__inner--04 {
	padding: 0 13.33vw;

	@include pc-screen {
		padding: 0;
		max-width: 1260px;
		margin: 0 auto;
	}
}
