/* Footer
--------------------------------------------------------------*/
.l-footer {
	position: relative;
	background: #000;
}

.l-footer__inner {
	padding: 30px 0;

	@include pc-screen {
		max-width: 1130px;
		margin: 0 auto;
		padding: 55px 0 60px;
	}
}

.l-footer__logo {
	width: 48px;
	margin: 0 auto;

	@include pc-screen {
		width: 75px;
	}

	> a {
		display: block;

		> img {
			width: 100%;
			height: auto;
		}
	}
}

.l-footer__item {
	width: 100%;

	@include sp-screen {
		&:nth-of-type(n+2) {
			margin-top: 60px;
		}
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		margin-top: 36px;

		@include pc-screen {
			margin-top: 115px;
		}
	}

	@include pc-screen {
		&.l-footer__item--01 {
			width: 64.6%;
		}

		&.l-footer__item--02 {
			width: 31.85%;
			margin-left: 3.55%;
		}

		&.l-footer__item--03 {
			width: 64.6%;
			margin-top: 85px;
		}

		&.l-footer__item--04 {
			width: 31.85%;
			margin-top: 85px;
			margin-left: 3.55%;
		}
	}
}

.l-footer__item__ttl {
	font-size: 1.0rem;
	line-height: 1.75;
	color: #fff;
	text-align: center;
	padding: 0 14px;

	@include pc-screen {
		font-size: 1.2rem;
		text-align: left;
		padding: 0;
	}

	> span {
		display: block;
		padding-bottom: 5px;
		border-bottom: 1px solid #333;
	}
}

.l-footer__item__list {
	> li {
		text-align: center;

		@include pc-screen {
			text-align: left;
		}

		> a {
			display: block;
			font-size: 1.0rem;
			line-height: 1.75;
			color: #fff;
			padding: 2px 14px;

			@include pc-screen {
				display: inline-block;
				font-size: 1.2rem;
				padding: 0;
			}
		}
	}

	&--01 {
		@extend .l-footer__item__list;
		margin-top: 10px;

		@include pc-screen {
			margin-top: 15px;
			display: flex;
			flex-wrap: wrap;
		}

		> li {
			margin-bottom: 15px;
			@include pc-screen {
				margin-bottom: 0;
				padding-right: 1em;

				&:nth-of-type(1) {
					width: 55px;
				}

				&:nth-of-type(2) {
					width: 110px;
				}

				&:nth-of-type(3) {
					width: 145px;
				}

				&:nth-of-type(4) {
					width: 100px;
				}

				&:nth-of-type(5) {
					width: 125px;
				}

				&:nth-of-type(6) {
					width: 110px;
				}
			}

			@include sp-screen {
				&.js-footer_menu {
					> a {
						position: relative;

						&::before {
							content: '';
							display: block;
							width: 24px;
							height: 15px;
							border: 2px solid #333;
							position: absolute;
							top: 50%;
							right: 8px;
							transform: translate(0, -50%);
						}

						&::after {
							content: '';
							display: block;
							width: 14px;
							height: 1px;
							background: #fff;
							position: absolute;
							top: 50%;
							right: 13px;
							transform: translate(0, -50%);
						}
					}

					.l-footer__item__list--02 {
						display: block;
					}
				}
			}
		}
	}

	&--02 {
		@extend .l-footer__item__list;
		padding: 10px 0;
		background: #333;
		display: none;

		@include pc-screen {
			padding: 0;
			background: none;
			display: block;
			margin-top: 15px;
		}

		> li {
			> a {
				&::before {
					content: '>';
					margin-right: 0.5em;
				}
			}
		}
	}
}

.l-footer__sns {
	display: flex;
	justify-content: center;
	margin-top: 20px;

	@include pc-screen {
		justify-content: flex-start;
	}

	> li {
		width: 38px;
		margin: 0 8px;

		@include pc-screen {
			width: 50px;
			margin: 0 10px;
		}

		> a {
			display: block;

			> img {
				width: 100%;
				height: auto;
			}
		}
	}
}

.l-footer__item__company {
	margin-top: 16px;
	padding: 0 14px;
	font-size: 1.0rem;
	line-height: 1.75;
	color: #fff;
	text-align: center;

	@include pc-screen {
		margin-top: 20px;
		padding: 0;
		font-size: 1.2rem;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
	}

	p + p {
		margin-top: 1em;

		@include pc-screen {
			margin-top: 0;
			margin-left: 60px;
		}
	}
}

.l-footer__group {
	margin-top: 10px;
	padding: 0 14px;

	@include pc-screen {
		margin-top: 20px;
		padding: 0;
	}

	> li {
		text-align: center;

		@include pc-screen {
			text-align: left;
		}

		> a {
			font-size: 1.0rem;
			line-height: 1.75;
			color: #fff;

			@include pc-screen {
				font-size: 1.2rem;
			}
		}
	}
}

.l-footer__copyright {
	font-size: 0.6rem;
	line-height: 1.75;
	text-align: center;
	background: #bebeb6;
	padding: 1em 2em;

	@include pc-screen {
		font-size: 1.2rem;
	}
}