/* Grid
--------------------------------------------------------------*/
.l-grid {
	width: 100%;
	display:flex;
	flex-wrap:wrap;

	&:not(.l-grid_sp) {
		@include sp-screen {
			display:inherit;
		}
	}
}
