/* Header
--------------------------------------------------------------*/
.l-header {
	position: relative;
	height: 60px;

	@include pc-screen {
		height: 80px;
	}
}

.l-header__inner {
	padding-top: 6px;

	@include pc-screen {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 23px 0 50px;
	}
}

.l-header__logo {
	text-align: center;

	@include pc-screen {
		text-align: left;
	}

	> a {
		display: inline-block;
		color: inherit;

		img {
			width: 110px;
			height: auto;

			@include pc-screen {
				width: 140px;
			}
		}
	}

	&__text {
		display: block;
		margin-top: 5px;
		font-size: 1.1rem;
		font-weight: bold;

		@include pc-screen {
			margin-top: 8px;
			font-size: 1.4rem;
		}
	}
}

.l-header__nav {
	display: none;

	@include pc-screen {
		display: flex;
		align-items: center;
	}

	&__trigger {
		width: 52px;
		height: 53px;
		position: absolute;
		top: 0;
		right: 0;

		@include pc-screen {
			display: none;
		}

		span {
			display: block;
			width: 20px;
			height: 3px;
			background: #000;
			position: absolute;
			left: 16px;

			&:nth-of-type(1) {
				top: 18px;
			}

			&:nth-of-type(2) {
				top: 25px;
			}

			&:nth-of-type(3) {
				top: 32px;
			}
		}
	}

	&__list {
		@include pc-screen {
			display: flex;
		}

		&__item {
			@include pc-screen {
				margin-left: 10px;
			}

			> a {
				@include pc-screen {
					display: flex;
					align-items: center;
					height: 80px;
					padding: 10px 5px;
					font-size: 1.4rem;
					color: inherit;
				}
			}

			&.l-header__nav__list__item {
				&--01 {
					width: 140px;
				}
				&--02 {
					width: 180px;
				}
				&--03 {
					width: 95px;
				}
				&--04 {
					width: 145px;
				}
				&--05 {
					width: 130px;
				}
			}
		}
	}
}

.l-header__lang {
	display: none;

	@include pc-screen {
		display: block;
		margin-left: 5px;
	}

	&__item {
		@include pc-screen {
			display: inline-block;
			border: 1px solid #cecec8;
		}

		> a {
			@include pc-screen {
				display: block;
				font-size: 2.1rem;
				line-height: 1;
				font-weight: bold;
				color: inherit;
				padding: 6px 8px;
			}
		}
	}
}
