/* Article
--------------------------------------------------------------*/
.p-article {
	display: flex;
	flex-wrap: wrap;

	@include pc-screen {
		justify-content: center;
	}
}

.p-article__label {
	min-width: 108px;
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
	padding: 0 10px;
	background: #000;

	@include pc-screen {
		font-size: 2.4rem;
		min-width: 216px;
	}
}

.p-article__img__wrap {
	position: relative;
	width: 100%;

	@include pc-screen {
		width: 600px;
		margin-right: 40px;
	}

	&--02 {
		@extend .p-article__img__wrap;

		@include pc-screen {
			width: 385px;
			margin-right: 55px;
		}
	}

	.p-article__img {
		width: 100%;
		box-shadow: 3px 3px 8px 0px rgba(101, 93, 51, 0.6);

		@include pc-screen {
			box-shadow: 5px 5px 8px rgba(101,93,51,0.6);
		}

		> img {
			width: 100%;
			height: auto;
		}
	}

	.p-article__label {
		position: absolute;
		top: 35%;
		left: -20px;
	}
}

.p-article__txt__wrap {
	margin-top: 30px;
	padding: 10px 20px 32px;

	@include pc-screen {
		width: 500px;
		margin-top: 0;
		padding: 30px 25px;
	}

	.p-article__txt__large {
		font-size: 1.8rem;
		line-height: 1.75;
		font-weight: bold;

		@include pc-screen {
			font-size: 2.4rem;
		}
	}

	.p-article__txt__name {
		margin-top: 20px;
		font-size: 1.1rem;
		font-weight: bold;

		@include pc-screen {
			margin-top: 30px;
			font-size: 1.4rem;
		}
	}

	.p-article__txt {
		margin-top: 15px;
		font-size: 0.9rem;
		line-height: 1.75;

		@include pc-screen {
			margin-top: 30px;
			font-size: 1.4rem;
		}
	}
}
