/* Article Card
--------------------------------------------------------------*/
.p-article-card {
	position: relative;
	box-shadow: 3px 3px 8px 0px rgba(101, 93, 51, 0.6);

	@include pc-screen {
		box-shadow: 5px 5px 8px rgba(101,93,51,0.6);
	}
}

.p-article-card__wrap {
	@include pc-screen {
		justify-content: center;
	}

	.p-article-card {
		@include sp-screen {
			&:nth-of-type(n+2) {
				margin-top: 50px;
			}
		}

		@include pc-screen {
			width: 480px;
			margin-left: 80px;
			margin-right: 80px;
		}
	}

	&--02 {
		@include pc-screen {
			justify-content: center;
		}

		.p-article-card {
			@include sp-screen {
				&:nth-of-type(n+2) {
					margin-top: 40px;
				}
			}

			@include pc-screen {
				width: 330px;
				margin-left: 45px;
				margin-right: 45px;

				&:nth-of-type(n+4) {
					margin-top: 100px;
				}
			}
		}
	}
}

.p-article-card__inner {
	display: block;
	height: 100%;
}

.p-article-card__ttl {
	width: 100%;
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 9px 10px;
	background: #bebeb6;

	@include pc-screen {
		font-size: 1.8rem;
		padding: 19px 10px;
	}

	&--02 {
		@extend .p-article-card__ttl;
		width: 70%;
		text-align: left;
		padding: 0 5px 0 15px;

		@include pc-screen {
			padding: 3px 15px 3px 55px;
		}
	}

	&--03 {
		@extend .p-article-card__ttl;
		padding: 12px 10px;

		@include pc-screen {
			padding: 13px 10px;
		}

		&__wrap {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.p-article-card__img {
	width: 100%;

	> img {
		width: 100%;
		height: auto;
	}

	&--02 {
		@extend .p-article-card__img;

		@include pc-screen {
			width: 100%;
			height: 100%;

			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50%;
			}
		}
	}
}

.p-article-card__txt__wrap {
	width: 100%;
	padding: 25px 15px 30px;
	background: #fff;

	@include pc-screen {
		padding: 30px 25px;
	}

	.p-article-card__txt {
		margin-top: 20px;
		font-size: 1.0rem;
		line-height: 1.75;
		color: #000;

		@include pc-screen {
			margin-top: 40px;
			font-size: 1.4rem;
		}
	}

	.p-article-card__txt--large {
		font-size: 1.2rem;
		line-height: 1.75;
		color: #000;

		@include pc-screen {
			font-size: 1.8rem;
		}
	}
}

.p-article-card__txt__wrap--02 {
	@extend .p-article-card__txt__wrap;
	padding: 45px 14px 30px;
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	bottom: 0;
	left: 0;

	@include pc-screen {
		padding: 35px 55px 25px;
	}

	.p-article-card__txt {
		margin-top: 0;
		font-size: 1.1rem;

		@include pc-screen {
			font-size: 1.4rem;
		}
	}

	.p-article-card__txt--large {
		margin-top: 20px;

		@include pc-screen {
			margin-top: 10px;
			font-size: 1.8rem;
		}
	}

	.p-article-card__ttl--02 {
		position: absolute;
		top: -10px;
		left: 0;

		@include pc-screen {
			top: -16px;
		}
	}
}

.p-article-card__txt__wrap--03 {
	@extend .p-article-card__txt__wrap;
	padding: 20px 16px 25px;

	@include pc-screen {
		padding: 30px 20px 40px;
	}

	.p-article-card__txt {
		margin-top: 0;
		font-size: 1.2rem;
		line-height: 1.75;

		@include pc-screen {
			font-size: 1.4rem;
		}
	}
}

.p-article-card__txt__wrap--04 {
	@extend .p-article-card__txt__wrap;
	padding: 25px 20px;

	@include pc-screen {
		padding: 30px 25px;
	}

	.p-article-card__txt--large {
		font-size: 1.8rem;
	}
}

.p-article-card__txt__wrap--05 {
	@extend .p-article-card__txt__wrap;
	padding: 35px 20px;

	@include pc-screen {
		padding: 45px 20px 35px;
	}

	.p-article-card__txt {
		margin-top: 50px;
		font-size: 1.2rem;
		line-height: 1.75;

		@include pc-screen {
			margin-top: 40px;
			font-size: 1.4rem;
		}
	}

	.p-article-card__txt--large {
		font-size: 1.2rem;
		line-height: 1.75;

		@include pc-screen {
			font-size: 1.8rem;
		}
	}
}
