/* Title
--------------------------------------------------------------*/
.p-title {
	width: 100%;
	height: 106.61vw;
	background: url('/assets/img/top/kv_bg_sp.jpg') center/cover no-repeat;

	@include pc-screen {
		height: 400px;
		background: url('/assets/img/top/kv_bg_pc.jpg') center/cover no-repeat;
	}

	&__wrap {
		position: relative;
		margin-bottom: 30px;

		@include pc-screen {
			margin-bottom: 70px;
		}
	}

	&__inner {
		width: 100%;
		height: 100%;
		padding-top: 4.8vw;

		@include pc-screen {
			width: 900px;
			padding-top: 0;
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
	}
}

.p-title__logo {
	width: 16.8vw;
	margin-left: auto;
	margin-right: auto;

	@include pc-screen {
		width: 144px;
		margin-left: 0;
		margin-right: 0;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}

	> img {
		width: 100%;
		height: auto;
	}
}

.p-title__body {
	margin-top: 11.2vw;

	@include pc-screen {
		margin-top: 0;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}

	&__img {
		width: 70.4vw;
		margin-left: auto;
		margin-right: auto;

		@include pc-screen {
			width: 662px;
		}

		> img {
			width: 100%;
			height: auto;
		}
	}

	&__txt {
		margin-top: 16.8vw;
		font-size: 1.2rem;
		line-height: 1.75;
		font-weight: bold;
		text-align: center;

		@include pc-screen {
			margin-top: 0;
			font-size: 2.0rem;
			text-align: left;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}
	}
}

.p-title__date {
	font-size: 0.8rem;
	color: #666;
	position: absolute;
	bottom: 12px;
	left: 0;

	@include sp-screen {
		width: 100%;
		text-align: center;
	}

	@include pc-screen {
		font-size: 1.4rem;
		bottom: 13px;
		left: auto;
		right: 90px;
	}
}