/* Banner
--------------------------------------------------------------*/
.c-banner {
	width: 46.5%;
	box-shadow: 3px 3px 8px 0px rgba(101, 93, 51, 0.6);

	@include sp-screen {
		&:nth-of-type(even) {
			margin-left: 7%;
		}

		&:nth-of-type(n+3) {
			margin-top: 2.4vw;
		}
	}

	@include pc-screen {
		width: 23.8%;
		margin-right: 1.6%;
		box-shadow: 5px 5px 8px rgba(101,93,51,0.6);

		&:nth-of-type(4n) {
			margin-right: 0;
		}

		&:nth-of-type(n+5) {
			margin-top: 1.6%;
		}
	}

	&__inner {
		display: block;

		@include pc-screen {
			&:hover {
				opacity: 0.5;
			}
		}

		> img {
			width: 100%;
			height: auto;
		}
	}
}

.c-banner__wrap {
	display: flex;
	flex-wrap: wrap;
}
