/* Button
--------------------------------------------------------------*/
.c-button {
	width: 105px;
	display: inline-block;
	font-size: 1.0rem;
	text-align: center;
	color: #fff;
	padding: 4px 6px;
	background-color: #e90000;

	@include pc-screen {
		width: 210px;
		font-size: 1.4rem;
		padding: 14px 10px;

		&:hover {
			opacity: 0.5;
		}
	}

	&__wrap {
		margin-top: 35px;
		text-align: center;

		@include pc-screen {
			margin-top: 60px;
		}
	}
}

