/* Heading
--------------------------------------------------------------*/
.c-heading-01 {
	position: relative;
	margin-bottom: 60px;
	margin-right: 30px;
	font-size: 2.4rem;
	line-height: 1.75;
	font-weight: 300;
	text-align: right;

	@include pc-screen {
		margin-bottom: 65px;
		margin-right: 0;
		font-size: 4.8rem;
		width: 86%;
	}

	&::before {
		content: '';
		display: block;
		width: 9px;
		height: 50px;
		background: #000;
		position: absolute;
		top: 31px;
		left: 0;

		@include pc-screen {
			width: 18px;
			height: 99px;
			top: 62px;
		}
	}

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #949494;
		position: absolute;
		bottom: 10px;
		left: 0;

		@include pc-screen {
			bottom: 22px;
		}
	}

	span {
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 53px;
			height: 53px;
			background: #ebebe9;
			position: absolute;
			top: -2px;
			right: -15px;
			z-index: -1;

			@include pc-screen {
				width: 107px;
				height: 107px;
				right: -28px;
			}
		}

		&::after {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			background: #393937;
			position: absolute;
			top: -1px;
			right: -14px;
			z-index: 1;

			@include pc-screen {
				width: 17px;
				height: 17px;
				top: -4px;
				right: -30px;
			}
		}
	}
}