/* Link
--------------------------------------------------------------*/
.c-link--arrow {
	font-size: 1.2rem;
	line-height: 1.75;
	color: inherit;

	@include pc-screen {
		font-size: 1.8rem;

		&:hover {
			color: #ccc;
		}
	}

	&::after {
		content: ">";
		display: inline-block;
		margin-left: 0.5em;
	}
}

.c-link__wrap {
	margin-top: 35px;
	text-align: center;

	@include pc-screen {
		margin-top: 60px;
	}
}
