$base_background: #fff;
$base_font: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$base_font02: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$base_width: 1200px;
$base_fontSize_pc: 1.6rem;
$base_fontSize_sp: 1.4rem;
$base_lineHeight_pc: 1.7;
$base_lineHeight_sp: 1.7;

$font_color: #000;
$link_color: #ff672d;
$link_color_hover: #ec672c;
$accent_color: #ff672d;
$hover_opacity: 0.7;

//z-index 上＜下
//z-index: z(hoge);
$z-map: (
	hoge1,
	hoge2,
	hoge3
);